@import "tailwindcss";



:root {
  --background: rgba(1, 1, 27, 0.932);
  --foreground: #171717;
  --main-color: #eee;
  --color-bg: #1f1f38;
  --color-bg-veriant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

html{
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  background-image: url(../app/assets/7.png);
  background-attachment: fixed;
  /* background-size: cover; */
  background-position: center;
  /* background-repeat: no-repeat; */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.fix-height{
  height:calc(100vh - 131px)
}
.dark-mode{
  background-color: #0d0d0d;
  color:#fff;
}
module.projectBox{
  background: yellow !important
}




@media (max-width:1080) {
  .container{
    width: 93%;
    
  }
}
