.heading{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}


.heading h1{
    font-size: 35px;
    color:var(--color-primary)
}
.contactContainer{
    display: flex;
    justify-content: space-between;
    
}
.contactContent{
    width: 48%;
}
.contactContent > p{
    color: var(--color-light);
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}
.contactContent .contactInfo{
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid var(--color-primary-variant);
}
.contactInfo p{
    margin: 15px 0;
    font-size: 17px;
    line-height: 1.5;
    color: var(--color-light);

}
.contactInfo h3{
    font-weight: bold;
    font-size: 22px;
    color: var(--main-color)
}
.contactInfo div .link{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-bg-veriant);
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
    color:#fff
}
.contactInfo div #lastLink{
    background-color: transparent;
    width: 100%;
    outline: 1px solid var(--color-bg-veriant)
}

.contactInfo div .link .icon{
    font-size: 35px;
    background-color: var(--color-primary-variant);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}
.contactInfo div #lastLink .icon{
    background-color: transparent;
}


.contactForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
    border: 1px solid var(--color-primary-variant);
    padding: 20px;
    border-radius: 10px;
    position: relative
    
}
.contactForm h3{
    font-weight: bold;
    font-size: 22px;
    color:var(--main-color)
}
.contactForm input,
.contactForm textarea{
    border: 1px solid var(--color-primary-variant);
    outline: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: wheat;
    font-size: 15px;
}
.contactForm input{
    height: 35px;
}
.contactForm textarea{
    height: 200px;
    resize: none;
}

.contactForm button{
    height: 35px;
    border:none;
    border-radius: 10px;
    background-color: var(--color-bg-veriant);
    box-shadow: inset 0 0 12px 0px var(--color-primary);
    color: var(--color-light);
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    
}

.contactForm button:active{
    border: 1px solid var(--color-primary-variant);
    background-color: transparent;
}
.modal{
    
    width: 100%;
    
    
}


.modalContent{
    background-color: rgba(0, 0, 0, 0.325);
    /* border: 1px solid var(--color-bg-veriant); */
    padding: 10px;
    border-radius: 10px;
    color: green;
    text-align: center;
    
}
.modalContent h1{
    font-size: 20px;
}


@media (max-width: 600px) {
    .heading{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    
    .heading h1{
        font-size: 25px;
        
    }
    .contactContainer{
        flex-direction: column;
        gap: 40px
    }
    .contactContainer .contactContent{
        width: 100%
    }
    .contactContainer .contactForm{
        width: 100%
    }
    .contactContent p{
        font-size: 16px;
    }
    
    .contactContainer .contactInfo p{

        font-size: 14px;
    
    }
    .contactContainer .contactInfo h3{
    
        font-size: 18px;
    }
    .contactContainer .contactInfo .link{
        gap: 20px;
        align-items: center;
        padding: 6px 20px;
        font-size: 14px;
    }
    .contactContainer .contactInfo .link .icon{
        font-size: 30px;
        padding: 5px;
    
    }
    .contactContainer .contactForm h3{
        font-size: 18px;
    }
    .contactForm input,
    .contactForm textarea{
    
        font-size: 13px;
    }
    .contactForm button{
    
        font-size: 14px;
    
    }

    .modalContent h1{

        font-size: 14px;
    }

    .modalContent{
        padding: 7px;
    
    }
    
}